{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <a href="{{ path('createEvent') }}" class="btn btn-info">Créer un évenement</a>
    <div class="container mt-4">
        <h1>Liste des événements</h1>

        <table id="eventsTable" class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Nombre de places</th>
                <th>Places disponibles</th>
                <th>Action</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                {% if event.date and event.date|date('Y-m-d') >= "now"|date('Y-m-d') %}
                    {% set userInEvent = app.user in event.getRefUserParticipe %}

                    {% if "Medecin" in app.user.roles or "Admin" in app.user.roles or "Partenaire/Entreprise" in app.user.roles %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.titre }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                            <td>{{ event.nbPlaceTotal }}</td>
                            <td>{{ event.nbPlace }}</td>

                            {% if event.nbPlace <= 0 %}
                                {% if userInEvent %}
                                    <td>
                                        <form action="{{ path('desincriptionEvent', {id:event.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger">Désinscription</button>
                                        </form>
                                    </td>
                                    <td>Vous êtes déjà inscrit</td>
                                {% else %}
                                    <td></td>
                                    <td>Plus de disponibilité</td>
                                {% endif %}
                            {% else %}
                                {% if not userInEvent %}
                                    <td>
                                        <form action="{{ path('participeEvent', {id:event.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="POST">
                                            <button type="submit" class="btn btn-success">Participer</button>
                                        </form>
                                    </td>
                                    <td>Vous pouvez vous inscrire</td>
                                {% else %}
                                    <td>
                                        <form action="{{ path('desincriptionEvent', {id:event.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger">Désinscription</button>
                                        </form>
                                    </td>
                                    <td>Vous êtes déjà inscrit</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#eventsTable').DataTable();
        });
    </script>
{% endblock %}
