{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
<a href="{{ path('createEvent') }}" class="btn btn-info">Créer un évenement</a>
    <div class="container mt-4">
        <h1>Liste des événements</h1>

        <table id="eventsTable" class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Nombre de places</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.type }}</td>
                    <td>{{ event.titre }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                    <td>{{ event.nbPlace }}</td>

                    {% set userInEvent = false %}
                    {% for user in event.users %}
                        {% if user.id == app.user.id %}
                            {% set userInEvent = true %}
                        {% endif %}
                    {% endfor %}

                    {% if userInEvent %}
                        <td>
                            <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                            <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Script pour initialiser DataTables -->
    <script>
        $(document).ready(function() {
            $('#eventsTable').DataTable();
        });
    </script>
{% endblock %}
