{% extends 'base.html.twig' %}

{% block title %}Annuaire Etudiant{% endblock %}

{% block body %}
    <h1>Annuaire Etudiant</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Formation</th>
            <th>Cv</th>
            {% if "Admin" in app.user.roles %}
                <td>Supprimer</td>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for user in user %}
            {% if user.getRefRole() is not null and user.getRefRole().getId() == 1 %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.formationEtudiant }}</td>
                    <td>
                        <a href="{{ path('download_cv', { id: user.id }) }}" class="btn btn-primary">Télécharger le CV</a>
                    </td>
                    {% if "Admin" in app.user.roles %}
                        <td><a href="{{ path('app_sup', {'id': user.id}) }}">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
