{% extends 'base.html.twig' %}

{% block title %}Annuaire Etudiant{% endblock %}

{% block body %}
    <h1>Annuaire Etudiant</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Formation</th>
            <th>Cv</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user %}
            {% if user.getRefRole() is not null and user.getRefRole().getId() == 1 %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.formationEtudiant }}</td>
                    <img src="data:image/jpeg;base64,{{ img }}" />

                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
