{% extends 'base.html.twig' %}

{% block title %}Profil Entreprise{% endblock %}

{% block body %}
    <div>
        {# Vérifier si l'utilisateur a une entreprise associée #}
        {% if entreprise is not null %}
            <h2>Informations sur votre entreprise</h2>
            <p>Nom de l'Entreprise: {{ entreprise.nomEntreprise }}</p>
            <p>Adresse: {{ entreprise.rue }}, {{ entreprise.cp }} {{ entreprise.ville }}</p>
            <p>Site Web: <a href="{{ entreprise.adresseWeb }}">{{ entreprise.adresseWeb }}</a></p>
            <a href="{{ path('editFicheEntreprise',{id:entreprise.id}) }}" class="btn btn-primary">Editer</a>
        {% else %}
            <p>Vous n'êtes pas associé à une fiche entreprise.</p>
            <div class="container mt-4">
                <h1>Liste des entreprises</h1>

                <table id="entrepriseTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom de l'entreprise</th>
                        <th>Adresse</th>
                        <th>Adresse web</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entreprises in entreprises %}
                        <tr>
                            <td>{{ entreprises.nomEntreprise }}</td>
                            <td>{{ entreprises.rue }} {{ entreprises.ville }} {{ entreprises.cp }} </td>
                            <td>{{ entreprises.adresseWeb }}</td>
                            <td>
                                <a href="{{path('rattacherUserFicheEnt', {id:entreprises.id}) }}" class="btn btn-primary btn-sm">Se rattacher</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                $(document).ready(function() {
                    $('#entrepriseTable').DataTable();
                });
            </script>
            <a href="{{ path('createFicheEntreprise') }}" class="btn btn-secondary">Créer une fiche entreprise</a>
        {% endif %}
    </div>
{% endblock %}