<header id="header" class="header sticky-top">


    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-end">
            <a href="#" class="logo d-flex align-items-center me-auto">
                <img src="../public/template/assets/img/logo.png" alt="">
                <!-- Uncomment the line below if you also wish to use a text logo -->
                <!-- <h1 class="sitename">Medicio</h1>  -->
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    {# Ce bloc s'affiche pour tous les utilisateurs, connectés ou non #}
                    <li><a href="{{ path('home') }}" class="active">Home</a></li>
                    <li><a href="#">Actualité</a></li>
                    <li><a href="{{ path('app_question_support_index') }}">Contact</a></li>
                    <li><a href="{{ path('app_forum') }}">Forum</a></li>

                    {% if app.user %}
                        {% if 'Etudiant' in app.user.roles %}


                            <li><a href="{{ path('app_etudiant') }}">Annuair Medecin</a></li>

                            <li><a href="#">Forum de discussion</a></li>
                            <li class="dropdown">
                                <a href="{{ path('event') }}"><span>Offres</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="{{ path('showAllStages') }}">Stages</a></li>
                                    <li><a href="{{ path('showAllEmplois') }}">Emplois</a></li>
                                    <li><a href="{{ path('showAllProjets') }}">Projets</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Evenements</a></li>
                        {% endif %}
                        {% if 'Partenaire/Entreprise' in app.user.roles  %}
                            <li><a href="{{ path('profilEntreprise') }}">Profil Entreprise</a></li>
                            {% if app.user.getRefEntreprise is not null  %}
                                <li class="dropdown">
                                    <a href="#"><span>Offres</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="{{ path('CreateOffre') }}">Créer une offre</a></li>
                                        <li><a href="{{ path('showStages') }}">Stages</a></li>
                                        <li><a href="{{ path('showEmplois') }}">Emplois</a></li>
                                        <li><a href="{{ path('showProjets') }}">Projets</a></li>
                                    </ul>
                                </li>
                            <li><a href="{{ path('event') }}">Evenements</a></li>
                             {% endif%}
                        {% endif %}
                        {% if 'Medecin' in app.user.roles %}
                            <li><a href="{{ path('profilEtablissement') }}">Etablissement</a></li>
                            <li><a href="{{ path('event') }}">Evenements</a></li>
                            <li><a href="#">Profil Etudiant</a></li>

                            <li><a href="{{ path('app_medecin') }}">Annuair Etudiant</a></li>
                        {% endif %}
                        {% if 'Admin' in app.user.roles %}
                            <li><a href="{{ path('app_admin') }}">Vailider Compte</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <div>
            {% if app.user is null %}
            <a class="cta-btn" href="{{ path('app_login') }}">Connexion/Inscription</a>
            {% else  %}
                <li class="dropdown">
                        <span>{{ app.user.nom }}</span>
                        <i class="bi bi-chevron-down toggle-dropdown"></i>
                    <ul class="dropdown-menu">
                        {% if 'Partenaire/Entreprise' in app.user.roles %}
                            <li><a class="dropdown-item" href="{{path('registerEditPartenaire', {id:app.user.id}) }}">Information du compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_modif', {id:app.user.id}) }}">Modifier le mot de passe</a></li>
                        {% endif %}
                        {% if 'Medecin' in app.user.roles %}
                            <li><a class="dropdown-item" href="#">Information du compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_modif', {id:app.user.id}) }}">Modifier le mot de passe</a></li>
                        {% endif %}
                        {% if 'Etudiant' in app.user.roles %}
                            <li><a class="dropdown-item" href="{{path('registerEditEtudiant', {id:app.user.id}) }}">Information du compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_modif', {id:app.user.id}) }}">Modifier le mot de passe</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% endif %}
            </div>


        </div>

    </div>

</header>