{% extends 'base.html.twig' %}

{% block title %}QuestionSupport index{% endblock %}

{% block body %}
    <h1>QuestionSupport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Message</th>
                <th>Date</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_support in question_supports %}

            <tr>
                {% if app.user %}
                    {% if 'Admin' in app.user.roles %}
                        <td>{{ question_support.id }}</td>
                        <td>{{ question_support.titre }}</td>
                        <td>{{ question_support.message }}</td>
                        <td>{{ question_support.date ? question_support.date|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ question_support.reponse }}</td>
                        <td>
                            {% if question_support.reponse %}
                                {% if question_support.getRefAdmin().getId() == app.user.id %}
                                    <a href="{{ path('app_question_support_show', {'id': question_support.id}) }}">show</a>
                                    <a href="{{ path('app_question_support_reponse', {'id': question_support.id}) }}">Modifier</a>
                                {% else %}
                                    <a href="{{ path('app_question_support_show', {'id': question_support.id}) }}">show</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_question_support_reponse', {'id': question_support.id}) }}">Nouvelle Réponse</a>
                            {% endif %}
                        </td>
                    {% else %}
                        {% if question_support.getRefUser().getId() == app.user.id %}
                            <td>{{ question_support.id }}</td>
                            <td>{{ question_support.titre }}</td>
                            <td>{{ question_support.message }}</td>
                            <td>{{ question_support.date ? question_support.date|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ question_support.reponse }}</td>
                            <td>
                                <a href="{{ path('app_question_support_show', {'id': question_support.id}) }}">show</a>
                                <a href="{{ path('app_question_support_edit', {'id': question_support.id}) }}">Modifier</a>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {% if 'Admin' in app.user %}
        {% else %}
        <a href="{{ path('app_question_support_new') }}">Create new</a>
        {% endif %}
    {% endif %}
{% endblock %}
