{% extends 'base.html.twig' %}

{% block title %}Offres d'emplois{% endblock %}

{% block body %}
    <h1>Offres d'emplois</h1>

    {% if offres is empty %}
        <p>Aucune offre d'emplois créer pour le moment.</p>
    {% else %}
        {% for offre in offres %}
            <div class="card">
                <div class="card-header">
                    {{ offre.titre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Le type d'offre: {{ offre.reftypeOffre.nom}}</h5>
                    <p class="card-text">Description de l'offre : {{ offre.description }}</p>
                    <p class="card-text">Les missions lier: {{ offre.missionlier }}</p>
                    <p class="card-text">Le salaire: {{ offre.salaire}}</p>
                    {% if offre.isEstCloturer()==1 %}
                        <p>L'offre est cloturer</p>
                    {% else  %}
                        <a href="{{ path('participerOffre', { 'id': offre.id }) }}">Participer</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}